*{
  padding: 0;
  margin: 0;
}
body{
  background: orange;
}
/*
flex-direction: row | row-reverse | column | column-reverse; 主轴的方向
flex-wrap : nowrap | wrap | wrap-reverse; 轴线是否换行
flex-flow ：<flex-direction> || <flex-wrap> flex-direction属性和 flex-wrap属性的简写 ;
justify-content： flex-start | flex-end | center | space-between | space-around 主轴上的对齐方式
align-items：flex-start | flex-end | center | baseline | stretch; 交叉轴上对齐方式
align-content： flex-start | flex-end | center | space-between | space-around | stretch; 多根轴线的对齐方式
order
flex-grow
flex-shrink
flex-basis
flex ： none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] auto(1 1 auto) || none (0 0 auto)
align-self： auto | flex-start | flex-end | center | baseline | stretch;

 */

.container{
  display: -webkit-flex;
  display: flex;
  width: 1200px;
  margin: auto;
  flex-flow: column nowrap;
  align-items: stretch;
  /* min-height: 100vh; */
}
.header{
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-flow: row nowrap;
  margin-top: 2rem;
  font-size: 25px;
  color: #666;
  padding: 0 15px;
}
.header .item{
  /* flex: 1; */
  width: 100%;
  height: 10rem;
  justify-content: space-around;
  background-color: #333;
  align-items: center;
  align-content: center;
}
.header .brand{
  flex: 3;
  font-size: 30px;
}
.header ul {
  display: flex;
  flex: 5;
  justify-content: center;
}
.header ul li{
  flex: 1;
  list-style: none;
  text-align: center;
}
.header ul li a{
  color: #666;
  text-decoration: none;
  font-size: 20px;
}
.header ul li a:hover{
  color: #fff;
}
.content{
  margin-top: 2rem;
  height: 30rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  align-content: center;
}
.content span{
  /* display: flex; */
  flex: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  /* align-content: center; */
}
.content span:nth-child(odd){
  color: black;
  background-color: #999;
}
.content span:nth-child(even){
  color: orange;
  background-color: #eee;
}
.footer{
  display: flex;
  margin-top: 2rem;
  height: 10rem;
  background-color: #fff;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}
.footer span{
  font-size: 25px;
  flex:1;
}
